[submodule "tui-client"]
	path = tui-client
	url = https://github.com/ViniZap4/lumi-tui.git
[submodule "server"]
	path = server
	url = https://github.com/ViniZap4/lumi-server.git
[submodule "web-client"]
	path = web-client
	url = https://github.com/ViniZap4/lumi-web.git
[submodule "site"]
	path = site
	url = https://github.com/ViniZap4/lumi-site.git
