[submodule "tui-client"]
	path = tui-client
	url = git@github.com:ViniZap4/lumi-tui.git
[submodule "server"]
	path = server
	url = git@github.com:ViniZap4/lumi-server.git
[submodule "web-client"]
	path = web-client
	url = git@github.com:ViniZap4/lumi-web.git
